[submodule "ThreadPool"]
	path = ThreadPool
	url = https://github.com/progschj/ThreadPool
	branch = master
	update = rebase
[submodule "Pollster"]
	path = Pollster
	url = git@github.com:ztipnis/Pollster.git
	branch = master
	update = rebase
